<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/cloudIcon.png">
    <title>Not Found</title>
  </head>
  <body>
      <div class="main-content">
        {{>header}}
        <h2>Dammit!</h2>
        <h3>{{message}}</h3>
      </div>
      {{>footer}}
  </body>
</html>
